/* 使用的字体(WOFF) */
@font-face {
  font-family: Quicksand;
  src: url('/webfonts/Quicksand_Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: Quicksand;
  src: url('/webfonts/Quicksand_Bold.woff');
  font-weight: 700;
}

body {
  margin: 0px;
}

.bg-container {
  background: none no-repeat scroll center center / cover #fff;
}

.banner-container {
  width: 100%;
  background-image: url('/images/banner-welcome.png');
}

.title-big-mainpage {
  font-size: 64px;
  color: #fff;
}

.subtitle-mainpage {
  font-family: Quicksand;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}
