/* 使用的字体(WOFF) */
@font-face {
  font-family: Quicksand;
  src: url('/webfonts/Quicksand_Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: Quicksand;
  src: url('/webfonts/Quicksand_Bold.woff');
  font-weight: 700;
}

body {
  margin-top: 54px;
  margin-bottom: 54px;
}

.bordered {
  background-color: #FFF;
  border-style: solid;
  border-color: #DDD;
  border-width: 1px;
  border-radius: 4px 4px 0px 0px;
  box-shadow: none;
  padding: 15px 15px 15px;
  display: table;
}

.bg-container {
  background: none no-repeat scroll center center / cover #fff;
}

.banner-container {
  width: 100%;
  background-image: url('/images/banner-welcome.png');
}

.title-big-mainpage {
  font-size: 54px;
  color: #fff;
}

.title-small-mainpage {
  font-size: 36px;
}

.subtitle-mainpage {
  font-family: Quicksand;
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
}

#btn_register {
  width: 100%;
}

.border_stretch {
  /*border: 15px solid transparent;
  -moz-border-image: url(msg_border.svg) 30 30 stretch;
  -webkit-border-image: url(msg_border.svg) 30 30 stretch;
  -o-border-image: url(msg_border.svg) 30 30 stretch;
  border-image: url(msg_border.svg) 30 30 stretch;*/
  border: 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 61.8%;
  padding: 2px 2px 2px 2px;
  margin: 4px 0px 0px 6px;
}

.speaker_name_disp {
  color: #808080;
  font-size: 10px;
  vertical-align: bottom;
}

.message_splitter {
  margin-top: 5px;
  margin-bottom: 5px;
}
